<footer>
  <div class="col-outer measure">
    <div class="col-inner col1">
      <ul>
	<li class="name">David Alber</li>
	<li><a href="mailto:alber.david@gmail.com"><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;alber.david@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-inner col2">
      <ul>
	<li><a href="https://github.com/davidalber"><i class="fa fa-github"></i>&nbsp;davidalber</a></li>
	<li><a href="https://www.linkedin.com/in/david-alber"><i class="fa fa-linkedin-square"></i>&nbsp;david-alber</a></li>
      </ul>
    </div>
    <div class="col-inner col3">
      There's no real theme here. I like programming, enjoy learning
      new things, and have other diverse interests. I tend to write
      about it all.
    </div>
  </div>
</footer>
